*
{
  margin: 0;
  padding: 0;
}

#Blur
{

    width: 100%;
    height: 69vh;
    background-color: transparent;
    position: absolute;
    margin-top: -100vh;
    z-index: 99999;
    display: none;

}




/*   ##########################################################################################  */
/*   ##########################################################################################  */
/*                               M O B I L E       S T Y L I N G                                 */
/*   ##########################################################################################  */
/*   ##########################################################################################  */






@media (max-width: 600px) 
{

#Blur
{

    width: 100%;
    height: 69vh;
    background-color: transparent;
    position: absolute;
    margin-top: -100vh;
    z-index: 99999;
      display: none;

}


}